<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DynamicPDF CoreSuite Examples</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div>
        <div id="banner">
            <img src="~/Images/DynamicPDF_top.gif" align="right"><img src="~/Images/ceTeSoftware_top.gif">
            <div id="header"> &nbsp;</div>
            <h1><i>Dynamic</i><b>PDF</b> CoreSuite v10.x for .NET Examples</h1>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>