
@{
    ViewBag.Title = "Text Extraction";
    Layout = "~/Views/Shared/_DynamicPDFLayout.cshtml";
}

<h2>Extract Text from a PDF</h2>

<form name="FormFill" action="ExtractText" method="post" target="_blank">

    <input id="btnSubmit" type="submit" value="Click To View Extracted Text" />
</form>