@{
    ViewData["Title"] = "Home Page";
}

<h2>DynamicPDF Generator for .NET</h2>
<a href="/Home/Invoice" title="Invoice Example">Invoice Example</a><br />
<a href="/Home/USEnvelope" title="US Envelope Example">US Envelope Example</a><br />

<h2>DynamicPDF Merger for .NET</h2>
<a href="/Home/AcroFormFill" title="Fill Acro Form Fields Example">Acro Form Filling Example</a><br />
<a href="/Home/FormFill" title="Form Fill Example">Form Fill Example</a><br />
<a href="/Home/MergerInvoice" title="Invoice Using Merger Example">Invoice Example</a><br />
<a href="/Home/SelectPages" title="Select Pages Example">Select Pages Example</a><br />
<a href="/Home/TextExtraction" title="Extract Text Example">Extract Text From PDF Example</a><br />