
@{
    ViewData["Title"] = "TextExtraction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Extract Text from a PDF</h2>

<form name="FormFill" action="ExtractText" method="post" target="_blank">

    <input id="btnSubmit" type="submit" value="Click To View Extracted Text" />
</form>